@import url(fonts.css);
@import url(variables.css);

* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    min-width: 300px;
    background-color: var(--clr-bg-pink);
    box-sizing: border-box;
}
.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
header {
    width: 100%;
    height: 20vh;
    margin-bottom: 3rem;
}

.todo-form {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    background-color: var(--clr-main-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: auto;
    box-shadow: 0 0 10px;
    
}
#todo-input {
    padding: .5rem;
    width: 80%;
    max-width: 500px;
    border-radius: 10rem;
    border: 1px solid var(--clr-accent-pink);
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo-item {
    width: 80%;
    max-width: 800px;
    background-color: var(--clr-main-white);
    border: .2rem solid var(--clr-accent-pink);
    border-radius: 1rem;
    box-shadow: 0 0 10px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.todo-item.completed p {
    text-decoration: line-through;
}

.item-btns {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: .1rem .5rem;
    background-color: var(--clr-accent-light);
    border: 1px solid var(--clr-accent-pink);
    border-radius: 1rem;
}

.item-btn {
    margin: .2rem;
    color: var(--clr-accent-pink);
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
}